extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('users.id')
        th= t('users.email')
    tbody
      each user in users
        tr
          td= user.id
          td= user.email
