- const getInputName = (entity, property) => `${entity.constructor.name.toLowerCase()}[${property}]`

- const currUserId = reply.request.session.get('userId')

- const joinTags = (tags) => tags.map((tag) => tag.name).join(', ')

