extends ../../layouts/application.pug
include ../../mixins/tasks.pug

block content
  .container.col-md-4.justify-content-center
    h3.mb-3.text-center= t('views.tasks.settings.settings')
    .text-center
      h5=t(`views.tasks.settings.newTaskStatus.name`)
      +defaultlist(defaultTaskStatuses)
      +list(taskStatuses, 'taskStatusId')
    +settingForm(taskStatuses, 'newTaskStatus')
    hr
    .d-flex.mb-3
      a.btn.btn-block.btn-primary(
                href=route('tasks#new'),
                method='get',
              )= t('views.tasks.settings.back')
