extends ../layouts/application.pug

block content
    form.form-signin
      div.text-center.mb-4
        h1.h3.mb-3.font-weight-normal Task Manager
      div.form-label-group
        input#inputEmail.form-control(type='email' placeholder='Email address' required='' autofocus='')
        label(for='inputEmail') Email address
      div.form-label-group
        input#inputPassword.form-control(type='password' placeholder='Password' required='')
        label(for='inputPassword') Password
      div.checkbox.mb-3
        label
          input(type='checkbox' value='remember-me')
          |  Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

