extends ../../layouts/application.pug
include ../../mixins/tasks.pug

block content
  .container.col-md-4.justify-content-center
    h3.mb-3.text-center= t('views.tasks.settings.settings')
    +settingForm(tags, 'newTag')
    hr
    +settingForm(taskStatuses, 'newTaskStatus')
    hr
    .d-flex.mb-3
      a.btn.btn-block.btn-primary(
                href=route('newTask'),
                method='get',
              )= t('views.tasks.settings.back')
